<div class="container">
<o-form-container breadcrumb="yes" breadcrumb-label-columns="name" breadcrumb-separator=", " class="fill-form">
      <o-form #form attr="Citizen_form_edit" 
        service="Citizen" 
        entity="Citizen" 
        fxLayout="column" 
        show-header="yes" 
        header-actions="R;I;U;D"
        #oDetailForm keys="id" 
        keys-sql-types="INTEGER" 
        show-header-navigation="yes"
        (onDataLoaded)="onDataLoaded($event)">

  <o-row attr="row1" layout-align="start stretch">
    <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex fxLayoutGap="14px">
      
      <o-text-input #name attr="name" label=" name*" enabled="yes" required="yes" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-text-input #address attr="address" label="address" enabled="yes" required="yes" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-text-input #household_income attr="household_income" label="household_income" enabled="yes" required="yes" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-text-input #qualifies_for_free_travel attr="qualifies_for_free_travel" label="qualifies_for_free_travel" enabled="yes" required="yes" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-integer-input #id attr="id" label="id" type="integer" editable="no" required="no" ></o-integer-input>
      
    </div>
  </o-row>
      
      <mat-tab-group fxFill>
        
        <mat-tab label="CITIZENFEEDBACK-citizen_id">
    <div layout-padding>
      <o-table 
        attr="CitizenFeedbackTable" 
        service="CitizenFeedback" 
        entity="CitizenFeedback" 
        keys="id"
        parent-keys="citizen_id:id"
        columns="id;citizen_id;feedback;feedback_date"  
        horizontal-scroll="yes"
        detail-form-route="CitizenFeedback" 
        edit-form-route="CitizenFeedback"
        visible-columns="id;citizen_id;feedback;feedback_date"  
        sort-columns="id" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
          <o-table-column attr="citizen_id" title="citizen_id">
    <o-table-cell-renderer-service attr="citizen_id" 
        service="Citizen" entity="CitizenType" columns="id;name"
        parent-keys="id:citizen_id"
        value-column="name" keys="citizen_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column #feedback attr="feedback" title="feedback" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-date-input #feedback_date attr="feedback_date" type="timestamp" label="feedback_date" editable="no" required="no" format="LL" fxFlex="20%" class="form-field"></o-date-input>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
        <mat-tab label="CITIZENQUALIFYINGREASON-citizen_id">
    <div layout-padding>
      <o-table 
        attr="CitizenQualifyingReasonTable" 
        service="CitizenQualifyingReason" 
        entity="CitizenQualifyingReason" 
        keys="id"
        parent-keys="citizen_id:id"
        columns="id;citizen_id;qualifying_reason_id"  
        horizontal-scroll="yes"
        detail-form-route="CitizenQualifyingReason" 
        edit-form-route="CitizenQualifyingReason"
        visible-columns="id;citizen_id;qualifying_reason_id"  
        sort-columns="id" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
          <o-table-column attr="citizen_id" title="citizen_id">
    <o-table-cell-renderer-service attr="citizen_id" 
        service="Citizen" entity="CitizenType" columns="id;name"
        parent-keys="id:citizen_id"
        value-column="name" keys="citizen_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column attr="qualifying_reason_id" title="qualifying_reason_id">
    <o-table-cell-renderer-service attr="qualifying_reason_id" 
        service="QualifyingReason" entity="QualifyingReasonType" columns="id;description"
        parent-keys="id:qualifying_reason_id"
        value-column="description" keys="qualifying_reason_id"
        visible-columns="description" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
        <mat-tab label="REGISTRATION-citizen_id">
    <div layout-padding>
      <o-table 
        attr="RegistrationTable" 
        service="Registration" 
        entity="Registration" 
        keys="id"
        parent-keys="citizen_id:id"
        columns="id;citizen_id;service_id;registration_date"  
        horizontal-scroll="yes"
        detail-form-route="Registration" 
        edit-form-route="Registration"
        visible-columns="id;citizen_id;service_id;registration_date"  
        sort-columns="id" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
          <o-table-column attr="citizen_id" title="citizen_id">
    <o-table-cell-renderer-service attr="citizen_id" 
        service="Citizen" entity="CitizenType" columns="id;name"
        parent-keys="id:citizen_id"
        value-column="name" keys="citizen_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column attr="service_id" title="service_id">
    <o-table-cell-renderer-service attr="service_id" 
        service="TransportService" entity="TransportServiceType" columns="id;name"
        parent-keys="id:service_id"
        value-column="name" keys="service_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-date-input #registration_date attr="registration_date" type="timestamp" label="registration_date" editable="no" required="no" format="LL" fxFlex="20%" class="form-field"></o-date-input>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
        <mat-tab label="SERVICEUSAGEHISTORY-citizen_id">
    <div layout-padding>
      <o-table 
        attr="ServiceUsageHistoryTable" 
        service="ServiceUsageHistory" 
        entity="ServiceUsageHistory" 
        keys="id"
        parent-keys="citizen_id:id"
        columns="id;citizen_id;service_id;usage_date"  
        horizontal-scroll="yes"
        detail-form-route="ServiceUsageHistory" 
        edit-form-route="ServiceUsageHistory"
        visible-columns="id;citizen_id;service_id;usage_date"  
        sort-columns="id" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
          <o-table-column attr="citizen_id" title="citizen_id">
    <o-table-cell-renderer-service attr="citizen_id" 
        service="Citizen" entity="CitizenType" columns="id;name"
        parent-keys="id:citizen_id"
        value-column="name" keys="citizen_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column attr="service_id" title="service_id">
    <o-table-cell-renderer-service attr="service_id" 
        service="TransportService" entity="TransportServiceType" columns="id;name"
        parent-keys="id:service_id"
        value-column="name" keys="service_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-date-input #usage_date attr="usage_date" type="timestamp" label="usage_date" editable="no" required="yes" format="LL" fxFlex="20%" class="form-field"></o-date-input>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
      </mat-tab-group>
      
    </o-form>
  </o-form-container>
</div>